{% extends 'base_layout.html' %}
{% block content %}

<body
  onmousedown="WhichButtonCompose(event)"
  style="margin-left: 9px;margin-right: 9px; background-color: #e2e6ea"
>
<div style = "background-color: #343a40; position: sticky;font-weight: bold;
font-family: 'Raleway', sans-serif;
/* margin: 0 auto; */
margin-top: -26.9px;
margin-left: -20px;
/* margin-right: -40px; */
/* width: 100%; */
width:1705px;
color: white;
font-size: 2.25em;
text-align: center;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
" > <h3>
  COMPOSE MAIL
</h1></div>
  <div class="content" style="margin-top: 40px; ">
   
   
    <div style="margin-top: 20px">
      <form id="here">
        <script>
          $(document).ready(function () {
            setInterval(function () {
              $("#here").load(window.location.href + " #here");
            }, 1000);
          });
        </script>
        {% csrf_token %}
        <b
          ><label
            style="
              background-repeat: no-repeat;
              background-position: right bottom;
              background-size: 10.5%;
              transition: background-image 0.7s;
              -webkit-transition: background-image 0.7s;
              -moz-transition: background-image 0.7s;
              -o-transition: background-image 0.7s;
              width: 566px;
              padding-top: 2px;
              
            "
            >RECIPIENT'S EMAIL ID :
          </label></b
        ><br />
        <input
          id="email"
          type="text"
          style="width: 100%; height: 50px; border-radius: 8px; border-color: white; margin-top: 10px; background-color: #f6f2f2ea;"
          placeholder="Enter Email"
          required
          value="{{compose.recipient}}"
        />
        <br /><br />

        <b
          ><label
            style="
              background-repeat: no-repeat;
              background-position: right bottom;
              background-size: 10.5%;
              transition: background-image 0.7s;
              -webkit-transition: background-image 0.7s;
              -moz-transition: background-image 0.7s;
              -o-transition: background-image 0.7s;
              width: 566px;
              padding-top: 2px;
              margin-bottom: 6px;
            "
            >SUBJECT :
          </label></b
        ><br />
        <input
          id="subject"
          type="text"
          style="width: 100%; height: 50px; border-radius: 8px; border-color: white; background-color: #f6f2f2ea; margin-top: 10px;"
          placeholder="Enter Subject"
          required
          value="{{compose.subject}}"
        />
        <br /><br />

        <b
          ><label
            style="
              background-repeat: no-repeat;
              background-position: right bottom;
              background-size: 10.5%;
              transition: background-image 0.7s;
              -webkit-transition: background-image 0.7s;
              -moz-transition: background-image 0.7s;
              -o-transition: background-image 0.7s;
              width: 566px;
              padding-top: 2px;
            "
            >BODY :
          </label></b
        ><br />
        <input
          id="body"
          rows="5"
          style="width: 100%; height: 200px; border-radius: 8px;margin-bottom: 18; border-color: white;  background-color: #f6f2f2ea;margin-top: 10px;"
          placeholder="Type Message"
          required
          value="{{compose.body}}"
        />
        <br />

        <button
          class="btn btn-primary btn-xl rounded-pill mt-5"
      
          type="button"
          onclick="sendEmail()"
          style="background-color: #343a40;margin-left: auto;margin-right: auto;margin-top: 50px; display: block; color: white; border-radius: 8px;width : 180px; height: 45px;"
        >
          SEND MAIL
        </button>
      </form>
      <br />
    </div>
  </div>
</body>
<script>
  function WhichButtonCompose(event) {
    $.ajax({
      url: "{% url 'homepage:compose' %}",
      method: "POST",
      data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
      success: function (data) {
        if (data.result == "success") {
          window.location = "{% url 'homepage:options' %}";
        } else if (data.result == "failure") {
          window.location = "{% url 'homepage:compose' %}";
        }
      },
    });
  }
</script>
{% endblock %}