{% extends 'base_layout.html' %} {% block content %}
<body style="margin:0; background-color: #e2e6ea"
  onmousedown="SendPostRequestHome(event)"
 
>

  <nav
    class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom"
  >
  <div class="top-bar" style="width: 100%;height: 80px;background-color: #343a40;color:white; display:flex;justify-content: center;align-items: center;font-size: 30px;">
    <span class="brand-name">HEAR2SEE</span>
  </div>
  </nav>
  <header class="masthead text-center text-white">
    <div class="container" style="
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: calc(80vh - 200px); 
    align-items: center;
    background-color: #e2e6ea;">
      <div class="masthead-content" style="background-color: white;
      display: grid;
      place-items: center;
      margin-top: 70px;
      margin-bottom: 30px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      width: 300px;
      text-align: center;
      height: auto;
    ">
      <h1 style="margin-bottom: 7rem  ;align-content: center;font-size:270% ;">WELCOME</h1>
  
      <form action="homepage/login.html" method="POST">
        <div class="login" id="here" style=" display: flex;justify-content: center;align-items: center;">
          <script>
            $(document).ready(function () {
              setInterval(function () {
                $("#here").load(window.location.href + " #here");
              }, 1000);
            });
          </script>
  
          {% csrf_token %}
          <h3 style="margin-left: 9rem;font-size: 1.2rem;margin-right: 1.5rem;">Email:</h3>
          <input style="background-color:#e2e6ea; width: 20rem; height: 3.5rem;margin-right: 6rem;"  type="text" placeholder="Email" name="email" required value="{{ detail.email }}" />
  
          <h3 style="margin-left: 9rem;font-size: 1.2rem;margin-right: 1.5rem;">Password:</h3>
          <input style="background-color:#e2e6ea ; width: 20rem;height: 3.5rem ;margin-right: 6rem" type="password" placeholder="Password" name="password" required value="{{ detail.password }}" />
  
          <button style="margin-top: 2rem;margin-right: 2.5rem;" type="submit">LOGIN</button>
        </div>
      </form>
    </div>
    </div>
    
  </header>
  <div class="top-bar" style="width: 100%;height: 80px;background-color: #343a40 ;margin-bottom:0;margin-top:59.95px ; color:white; display:flex;justify-content: center;align-items: center;font-size: large;">
    <!-- <span class="brand-name">HEAR2SEE</span> -->
  </div>

  <script>
    function SendPostRequestHome(event) {
      $.ajax({
        url: "{% url 'homepage:login' %}",
        method: "POST",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          if (data.result == "success") {
            window.location = "{% url 'homepage:options' %}";
          } else if (data.result == "failure") {
            window.location = "{% url 'homepage:login' %}";
          }
        },
      });
    }
  </script>

  
  {% endblock %}
</body>




